@model Tuple<Core.Models.HtmlModel, List<Core.Models.TableModel>>

<div class="row">
    <div class="col">
        <hr>
        <section>
            <div class="alert alert-custom" role="alert">
                <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Free Tips</h2>
            </div>
            <hr>
            <div class="monthly-subscription">
                @Html.Raw(Model.Item1.Html)
            </div>


            <div class="table-responsive">
                <h4 class="vip-tickets-images-intro-text">
                    Free tips archive for the last 30 days !
                </h4>
                <table class="table table-cumstom">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Match</th>
                        <th scope="col">Tip</th>
                        <th scope="col">Odd</th>
                        <th scope="col">Result</th>
                        <th scope="col">WinLose</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (var item in Model.Item2)
                        {
                            <tr style="">
                                <td>@item.Date</td>
                                <td>@item.Match</td>
                                <td>@item.Tip</td>
                                <td>@item.Odd</td>
                                <td>@item.Result</td>
                                <td>@item.WinLose</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>

                <div class="col-md-12 custom-default-url">
                    <p>
                        <a asp-action="FreeTipsArchive" , asp-controller="Home">View full archive</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>