@model Tuple<Core.Models.HtmlModel, List<Core.Models.VipTicketModel>>

<div class="row">
    <div class="col">
        <section>
            <div class="alert alert-custom" role="alert">
                <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>VIP TICKET OFFER</h2>
            </div>
            <hr>

            <div class="vip-ticket">
                @Html.Raw(Model.Item1.Html)
            </div>

            <div class="row row-vip-ticket-main-card">
                <div class="col"></div>
                <div class="col-md-8">
                    <h4 class="vip-tickets-images-intro-text">LATEST VIP TICKETS !!!</h4>
                    <div class="card vip-ticket-card">
                        <a asp-action="VipTicketArchiveSingle" asp-controller="Home" asp-route-id="@Model.Item2.First().Id">
                            <img class="card-img-top" src="~/images/tickets/@Model.Item2.First().ImgUrl"
                                 alt="@Model.Item2.First().AltTag">
                            <div class="card-body vip-ticket-card-body">
                                <h5 class="card-title">Winning ticket on: @Model.Item2.First().Date</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <div class="row row-vip-ticket-second-card">
                @foreach (var item in Model.Item2.Skip(1))
                {
                    <div class="col-md-4">
                        <div class="card vip-ticket-card">
                            <a asp-action="VipTicketArchiveSingle" asp-controller="Home" asp-route-id="@item.Id">
                                <img class="card-img-top" src="~/images/tickets/@item.ImgUrl"
                                     alt="@item.AltTag">
                                <div class="card-body vip-ticket-card-body">
                                    <h5 class="card-title">Winning ticket on: @item.Date</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                }


                <div class="col-md-12 custom-default-url">
                    <p>
                        <a asp-action="VipTicketArchive" asp-controller="Home">View full archive</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
<hr>